
<ion-content class="ion-padding">
  <h3> Página Principal</h3>

  <!-- Crear un boton -->
  <ion-button  expand="block" [routerLink]="['/se1']" routerLinkActive="router-link-active" >
    Ir a Sistemas Expertos I
  </ion-button>
  <ion-button expand="block" [routerLink]="['/se2']" routerLinkActive="router-link-active" >
    Ir a Sistemas Expertos II
  </ion-button>
</ion-content>

<!-- Agregar un footer -->
<ion-footer collapse="fade">
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
