<ion-header>
  <ion-toolbar>
       <app-header></app-header>
       <ion-title>Súbpagina 1.1</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-title>Componentes de Entrada</ion-title>
    <ion-card-content>
      <ion-item *ngFor="let item of componentes_sistemas_expertos">
        <ion-chip>
          <ion-icon name="remove"></ion-icon>
          <ion-label>{{item}}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-card-content>
  </ion-card>


</ion-content>
